[user]
	name = Jason Newmoyer
	email = jason@newmoyergeospatial.com

[core]
	editor = vim

[alias]
	st = status

[merge]
	tool = vimdiff

[push]
	default = current
[url "git@github.com:"]
	insteadOf = https://github.com/
	
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/